<p id="notice"><%= notice %></p>

<%= image_tag @author.image_url, size: "155x100" %>

<p>
  <strong>Name:</strong>
  <%= @author.name %>
</p>

<p>
  <strong>DOB:</strong>
  <%= @author.dob %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @author.nationality %>
</p>

<p>
  <strong>Awards:</strong>
  <%= @author.awards %>
</p>

<p>
  <strong>Biography:</strong>
  <%= @author.biography %>
</p>
<br/>
<h1>Books</h1>
  <table>
  <tbody>
    <% @author.books.each do |bk| %>
      <tr>
        <td><%= link_to bk.title, bk %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br/>
<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>
