<h3>Users</h3>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>User</th>
      <th>Admin</th>
      <th>Created at</th>
      <th>Updated at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.user_id %></td>
        <td><%= user.admin %></td>
        <td><%= formatted_time user.created_at %></td>
        <td><%= formatted_time user.updated_at %></td>
        <td><%= link_to 'Show', user %>&nbsp;</td>
        <td><%= link_to 'Edit', edit_user_path(user) %>&nbsp;</td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %>&nbsp;</td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div style="float: left"><%= page_entries_info @users %></div>
<div style="float: right"><%= paginate @users %></div>
<br>
<%= link_to 'New User', new_user_path %>
