<% if params[:search] %>
<h3>Search Results</h3>
<% else %>
<h3>All Books</h3>
<% end %>

  <%= form_tag(books_path, :method => "get", id: "search-form")  do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Books" %>
    <%= submit_tag("Search") %>
  <% end %>

<%= render 'booklist' %>

<br/>

<%= link_to 'New Book', new_book_path %>
