<h3>Overdue Books</h3>
<table>
  <tbody>
    <% @books.each do |bk| %>
        <% if bk.reservations.exists? %>
          <% bk.reservations.each do |r| %>
            <% if Date.today - r.due_on > 0 %>
              <tr>
                  <td rowspan="3"><%= image_tag bk.image_cover_url, size: "50x50" %></td>
                  <td><%= link_to bk.title, bk %> by <%= link_to bk.author.name, bk.author %></td>
              </tr>
              <tr>
                  <td><label>Reserved on:</label> <%= formatted_time r.reserved_on %></td>
              </tr>
              <tr>
                  <td><label>Due on:</label> <%= formatted_time r.due_on %></td>
              </tr>
            <% end %>
          <% end %>
        <% end %>
    <% end %>
      </tr>
  </tbody>
</table>
<br />

<div style="float: left"><%= page_entries_info @reservations.where("due_on >= ?", Time.zone.now) %></div>
<div style="float: right"><%= paginate @reservations.where("due_on >= ?", Time.zone.now) %></div>
