<% content_for :title, @book.title %>
<%= image_tag @book.image_cover_url, size: "155x100" %>

<h1><%= @book.title %> (<%= @book.isbn %>)
<br/>
 by <%= link_to @book.author.name, author_path(@book.author.id) %>
</h1>
<p>
  <strong>Genre:</strong>
  <%= @book.genre %>
</p>
<p>
  <strong>Abstract:</strong>
  <%= @book.abstract %>
</p>
<p>
  <strong>Pages:</strong>
  <%= @book.pages %>
</p>
<p>
  <strong>Published On:</strong>
  <%= @book.published_on %>
</p>
<p>
  <strong>Available to Reserve:</strong>
  <%= @book.total_in_library %>
</p>
<br/>

<%= link_to 'Back', books_path %><br />

<% if @current_user.admin %>
<span style="float: left; margin-right: 10px;"><%= link_to 'Edit', edit_book_path(@book), :class => "btn btn-default" %></span>

<span style="float: left; margin-right: 10px;"><%= button_to 'Delete', @book, :class => "btn btn-danger",
               method: :delete,
               data: { confirm: 'Are you sure?' } %></span>
<% end %>
<% if @book.reservations.exists?(:user_id => @current_user.id) %>
  <span style="float: left;"><%= label 'user_reserved', 'You already have this book checked out.', :class => "label label-default"  %></span>
<% elsif @book.total_in_library < 1 %>
  <span style="float: left;"><%= label 'no_reserve', 'Book Unavailable.', :class => "label label-default"  %></span>
<% else %>
  <span style="float: left;"><%= button_to 'Reserve', new_book_reservation_path(@book), method: :get, :class => "btn btn-default"  %></span>
<% end %>
