<!DOCTYPE html>
<html>
<head>
  <title>GMU Library <%= yield :title %></title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <%= render '/layouts/header' %>
  </div>
  <div class="container">
    <div class="col-xs-9">
      <%= render '/shared/flashes' %>
        <%= form_tag(books_path, :method => "get", id: "search-form")  do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search Books" %>
        <%= submit_tag("Search") %>
      <% end %>
      <%= yield %>
    </div>
    <div class="col-xs-3">
      <%= render '/layouts/sidebar' %>
    </div>
  </div>
  <%= render '/layouts/footer' %>
</body>
</html>